*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* start general rule*/

.flex{
    display: flex;
}

main{
    width: 1110px;
    margin: 0 auto;
}


/* end general rule*/

/* start header*/

.container-header{
    height: 70px;
    background-color: rgb(255,105,0);
}

.command-top{
    width: 1110px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}   

/* end start header*/

/*start main*/

.container-card{
    justify-content: space-between;
}

.card{
    height: 500px;
    width: 350px;
    background-color: green;
    margin-top: 70px;
}

/*start footer*/

.container-footer{
    height: 80px;
    background-color: rgb(26,26,26);
    margin-top: 50px;
}

.info-bottom{

}