*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* start general rule*/

.flex{
    display: flex;
}

main{
    width: 1110px;
    margin: 0 auto;
}


/* end general rule*/

/* start header*/

.header-contain{
    height: 80px;
    background-color: rgb(255,105,0);
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* end start header*/

/*start main*/

.container-card{
    justify-content: space-between;
}

.card{
    height: 500px;
    width: 350px;
    background-color: green;
    margin-top: 70px;
}