/* start general rule*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main, .command-top, .info-bottom{
    width: 1110px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.center{ /*align-items ecc.. : center*/
    align-items: center;
}

.between{
    justify-content: space-between;
}
/* end general rule*/

/* start header*/

.container-header{
    height: 70px;
    background-color: rgb(255,105,0);
}

/* end start header*/

/*start main*/

.card{
    height: 500px;
    width: 350px;
    background-color: green;
    margin-top: 70px;
}

/*start footer*/

.container-footer{
    height: 80px;
    background-color: rgb(26,26,26);
    margin-top: 50px;
    justify-content: space-between;
    align-content: center;
}

.info-bottom{
    height: 100%;
}
